{% load static %}
<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' href='{% static "styles/base.css" %}'>
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div id='saam'>
            <div id='saam-r1'>
                <div id='saam-r1-1'></div>
                <div id='saam-r1-2'><p>SAAM</p></div>
            </div>
            <div id='saam-r2'></div>
        </div>
        <div id='path'>
            {% block request %}{{ request }}{% endblock %}
        </div>
    </body>
</html>