#saam {
    background-color: black;
    border-radius: 1em;
    width: 100%;
    margin-bottom: 1em;
}
#saam-r1 {
    height: 3em;
    width: 100%;
    border-radius: 1em;
    background-color: lightgreen;
    border-bottom: 1px solid lightgreen;
}
#saam-r1-1 {
    height: 3em;
    width: 3em;
    border-radius: 1em;
    background: url('/static/images/django_icon.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightgreen;
    float: left;
}
#saam-r1-2 {
    height: 3em;
    width: 15%;
    border-radius: 1em;
    color: black;
    text-align: center;
    font-weight: bold;
    float: left;
}
#saam-r2 {
    height: 1em;
    clear: both;
}